<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

  <h1>The Plottig Widget</h1>

<b>n (count) </b> <input type="number" id="nfield" value="1000">

<b>distribution type</b> <select id="distfield">
<option>normal</option>
<option>uniform</option>
</select> <br>

<button id="submitbutton" type="button">Submit to server!</button> <br>

<div id="plotdiv"></div>
